


@model Employee_Management_Project.Employee
@{
    ViewBag.Title = "DetailPage";
}

<h2>DetailPage</h2>


<div>
    <div>
        <label for="EmployeeName">Employee Name</label>
        @Model.Emp_Name
    </div>

    <div>
        <label for="EmployeeEmailid">Employee Email</label>
        @Model.Emp_Email

    </div>

    <div>
        <label for="EmployeeSalary">Employee Salary</label>
        @Model.Emp_Salary
    </div>

    <div>
        <label for="ContactNumber">Employee Contact</label>
        @Model.Emp_MobileNo
    </div>

    <div>
        <label for="EmployeeAddress">Employee Address</label>
        @Model.Emp_Address
    </div>

    <div>
        <label for="EmployeeDesignation">Employee Designation</label>
        @Model.Emp_Designation 
    </div>


</div>






